<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendancesystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AttendanceInfoUserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectEventActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EnrollActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectAttendanceEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendanceInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModifyAttendanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".CheckSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectedEventModificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".AddEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>